.header{
  height: 80px;
  background-color: var(--cor-secundaria);
  color:var(--cor-primaria);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.header > h1{
  font-size: 2rem;
  font-weight: 600;
}


.menu{
  background-color: var(--cor-primaria);
  display: none;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px 20px;
  position: absolute;
  top:80px;
  right:-35vw;
}

.menu--visivel{
  display: flex;
  animation-name: mostra-menu;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: both;
}

.menu .menu__link{
  color:var(--cor-secundaria);
}

.btn-toggle{
  height:40px;
  width: 40px;
  background-color: var(--cor-primaria);
  border: none;

}

.btn-toggle .btn-toggle__icon{
  height:20px;
  cursor: pointer;
}
.logo{
  width: 70px;
}

.logo > .logo__image{
  width:100%;
}

@keyframes mostra-menu{
  from{
    opacity: 0.2;
  }
  to{
    opacity: 1;
    right:0vw;
  }
}