.header{
  height: 80px;
  background-color: var(--cor-secundaria);
  color:var(--cor-primaria);
  display:flex;
  justify-content: space-between;
}

.menu > ul{
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px 20px;
  position: absolute;
  top:80px;
  right: 0px;
}

.menu .menu__link{
  color:var(--cor-secundaria);
}

.btn-toggle{
  height:40px;
  width: 40px;
  background-color: var(--cor-primaria);

}

.btn-toggle .btn-toggle__icon{
  height:20px;
  cursor: pointer;
}